/*Main*/
.list-cell {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}


/*Settings*/
.settings-panel {
    -fx-background-color: #f5f5f5;
}

.user-settings {
    /*background-color transparent;*/
    -fx-background-color: #5b5b5b;
}

.general-settings {
    -fx-background-color: #f5f5f5;
}

.language-settings {
    -fx-background-color: #f5f5f5;
}

/*Job Cell*/

.job-cell {
    -fx-background-radius: 5px;
    -fx-alignment: CENTER;
}

.job-header {
    -fx-padding: 0 0 0 10;
}

.job-date {
    -fx-padding: 0 10 0 0;
}

/*Job View*/
.save-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.back-button {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-color: #DA564E;
    -fx-text-fill: white;
}

.back-button:hover, .save-button:hover, .delete-button:hover {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/*Updater*/
.updater-label {
    -fx-font-size: 20px;
}

.updater-button-apply {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.updater-button-cancel {
    -fx-background-color: #DA564E;
    -fx-text-fill: white;
}

.updater-button-apply:hover, .updater-button-cancel:hover {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}